In [6]:
import pandas as pd

In [26]:
colunasSelecionadas = ['HH_GERACAO', 'SG_UF', 'NM_MUNICIPIO', 'CD_MUNICIPIO', 'NR_ZONA',
       'DS_GENERO', 'DS_FAIXA_ETARIA', 'DS_GRAU_ESCOLARIDADE',
       'QT_ELEITORES_PERFIL']

In [27]:
dados_2012 = pd.read_csv('Dados/perfil_eleitorado_2012.csv', sep=';', encoding='latin-1', usecols=colunasSelecionadas)
dados_2014 = pd.read_csv('Dados/perfil_eleitorado_2014.csv', sep=';', encoding='utf-8', usecols=colunasSelecionadas)
dados_2016 = pd.read_csv('Dados/perfil_eleitorado_2016.csv', sep=';', encoding='utf-8', usecols=colunasSelecionadas)
dados_2018 = pd.read_csv('Dados/perfil_eleitorado_2018.csv', sep=';', encoding='latin-1', usecols=colunasSelecionadas)
dados_2020 = pd.read_csv('Dados/perfil_eleitorado_2020.csv', sep=';', encoding='latin-1', usecols=colunasSelecionadas)

In [28]:
dados_2012.head()

,HH_GERACAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,DS_GENERO,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL
0,13:50:03,BA,38113,PRADO,112,FEMININO,17 anos,SUPERIOR INCOMPLETO,3
1,13:50:03,BA,38113,PRADO,112,FEMININO,18 anos,ANALFABETO,1
2,13:50:03,BA,38113,PRADO,112,FEMININO,18 anos,LÊ E ESCREVE,2
3,13:50:03,BA,38113,PRADO,112,FEMININO,18 anos,ENSINO FUNDAMENTAL INCOMPLETO,67
4,13:50:03,BA,38113,PRADO,112,FEMININO,18 anos,ENSINO FUNDAMENTAL COMPLETO,6

In [9]:
dados_2014.head()

,HH_GERACAO,SG_UF,NM_MUNICIPIO,CD_MUNICIPIO,NR_ZONA,DS_GENERO,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL
0,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO FUNDAMENTAL COMPLETO,1
1,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO COMPLETO,1
2,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO INCOMPLETO,23
3,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,LÊ E ESCREVE,2
4,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,SUPERIOR INCOMPLETO,1

In [10]:
dados_2016.head()

,HH_GERACAO,SG_UF,NM_MUNICIPIO,CD_MUNICIPIO,NR_ZONA,DS_GENERO,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL
0,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO FUNDAMENTAL COMPLETO,5
1,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO FUNDAMENTAL INCOMPLETO,9
2,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO COMPLETO,1
3,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO INCOMPLETO,33
4,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,SUPERIOR INCOMPLETO,1

In [11]:
dados_2018.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,3,CASADO,7579,75 a 79 anos,2,LÊ E ESCREVE,10,10,1,0
1,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,3,CASADO,7579,75 a 79 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,2,2,1,0
2,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,7,SEPARADO JUDICIALMENTE,5054,50 a 54 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,1,1,0,0
3,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,9,DIVORCIADO,4044,40 a 44 anos,4,ENSINO FUNDAMENTAL COMPLETO,1,1,0,0
4,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,9,DIVORCIADO,4549,45 a 49 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,3,3,0,0

In [29]:
dados_2020

,HH_GERACAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,DS_GENERO,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL
0,23:04:11,SP,71072,SÃO PAULO,257,FEMININO,90 a 94 anos,ENSINO MÉDIO COMPLETO,17
1,23:04:11,SP,71072,SÃO PAULO,257,FEMININO,90 a 94 anos,SUPERIOR INCOMPLETO,1
2,23:04:11,SP,71072,SÃO PAULO,257,FEMININO,90 a 94 anos,SUPERIOR COMPLETO,8
3,23:04:11,SP,71072,SÃO PAULO,257,FEMININO,95 a 99 anos,ANALFABETO,28
4,23:04:11,SP,71072,SÃO PAULO,257,FEMININO,95 a 99 anos,LÊ E ESCREVE,149
...,...,...,...,...,...,...,...,...,...
4248089,23:04:11,BA,30791,BURITIRAMA,77,FEMININO,45 a 49 anos,ANALFABETO,26
4248090,23:04:11,BA,30791,BURITIRAMA,77,FEMININO,45 a 49 anos,LÊ E ESCREVE,116
4248091,23:04:11,BA,30791,BURITIRAMA,77,FEMININO,45 a 49 anos,ENSINO FUNDAMENTAL INCOMPLETO,95
4248092,23:04:11,BA,30791,BURITIRAMA,77,FEMININO,45 a 49 anos,ENSINO FUNDAMENTAL COMPLETO,8
4248093,23:04:11,BA,30791,BURITIRAMA,77,FEMININO,45 a 49 anos,ENSINO MÉDIO INCOMPLETO,3

In [40]:
dados_2020.query("NM_MUNICIPIO == 'SÃO PAULO'").groupby('DS_GRAU_ESCOLARIDADE').QT_ELEITORES_PERFIL.sum()

DS_GRAU_ESCOLARIDADE
ANALFABETO                        178351
ENSINO FUNDAMENTAL COMPLETO       669859
ENSINO FUNDAMENTAL INCOMPLETO    1597042
ENSINO MÉDIO COMPLETO            2492188
ENSINO MÉDIO INCOMPLETO          1615763
LÊ E ESCREVE                      382237
SUPERIOR COMPLETO                1444126
SUPERIOR INCOMPLETO               607121
Name: QT_ELEITORES_PERFIL, dtype: int64

In [47]:
dados_2020.query("DS_GRAU_ESCOLARIDADE == 'ANALFABETO'").groupby('NM_MUNICIPIO').QT_ELEITORES_PERFIL.sum().sort_values(ascending=False)

NM_MUNICIPIO
SÃO PAULO                178351
RIO DE JANEIRO            68056
FORTALEZA                 42551
BELO HORIZONTE            29785
MACEIÓ                    20019
                          ...
LAGOA DOS TRÊS CANTOS         6
ALTO FELIZ                    5
NOVA CANDELÁRIA               4
LINHA NOVA                    4
SÃO VENDELINO                 2
Name: QT_ELEITORES_PERFIL, Length: 5295, dtype: int64