In [1]:
import pandas as pd

In [37]:
dados_2012 = pd.read_csv('Dados/perfil_eleitorado_2012.csv', sep=';', encoding='latin-1')
dados_2014 = pd.read_csv('Dados/perfil_eleitorado_2014.csv', sep=';', encoding='utf-8')
dados_2016 = pd.read_csv('Dados/perfil_eleitorado_2016.csv', sep=';', encoding='utf-8')
dados_2018 = pd.read_csv('Dados/perfil_eleitorado_2018.csv', sep=';', encoding='latin-1')
dados_2020 = pd.read_csv('Dados/perfil_eleitorado_2020.csv', sep=';', encoding='latin-1')

In [14]:
dados_2012.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,15/07/2020,13:50:03,2012,BA,38113,PRADO,0,Sem biometria,112,4,...,1,SOLTEIRO,1700,17 anos,7,SUPERIOR INCOMPLETO,3,0,0,0
1,15/07/2020,13:50:03,2012,BA,38113,PRADO,0,Sem biometria,112,4,...,1,SOLTEIRO,1800,18 anos,1,ANALFABETO,1,0,0,0
2,15/07/2020,13:50:03,2012,BA,38113,PRADO,0,Sem biometria,112,4,...,1,SOLTEIRO,1800,18 anos,2,LÊ E ESCREVE,2,0,0,0
3,15/07/2020,13:50:03,2012,BA,38113,PRADO,0,Sem biometria,112,4,...,1,SOLTEIRO,1800,18 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,67,0,0,0
4,15/07/2020,13:50:03,2012,BA,38113,PRADO,0,Sem biometria,112,4,...,1,SOLTEIRO,1800,18 anos,4,ENSINO FUNDAMENTAL COMPLETO,6,0,0,0

In [15]:
dados_2014.head()

,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO FUNDAMENTAL COMPLETO,1
0,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO COMPLETO,1
1,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO INCOMPLETO,23
2,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,LÊ E ESCREVE,2
3,201407,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,SUPERIOR INCOMPLETO,1
4,201407,AC,ACRELÂNDIA,1120,8,FEMININO,17 ANOS,ENSINO FUNDAMENTAL COMPLETO,5

In [16]:
dados_2016.head()

,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO FUNDAMENTAL COMPLETO,5
0,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO FUNDAMENTAL INCOMPLETO,9
1,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO COMPLETO,1
2,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,ENSINO MÉDIO INCOMPLETO,33
3,2016,AC,ACRELÂNDIA,1120,8,FEMININO,16 ANOS,SUPERIOR INCOMPLETO,1
4,2016,AC,ACRELÂNDIA,1120,8,FEMININO,17 ANOS,ENSINO FUNDAMENTAL COMPLETO,9

In [17]:
dados_2018.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,3,CASADO,7579,75 a 79 anos,2,LÊ E ESCREVE,10,10,1,0
1,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,3,CASADO,7579,75 a 79 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,2,2,1,0
2,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,7,SEPARADO JUDICIALMENTE,5054,50 a 54 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,1,1,0,0
3,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,9,DIVORCIADO,4044,40 a 44 anos,4,ENSINO FUNDAMENTAL COMPLETO,1,1,0,0
4,17/09/2018,23:21:37,2018,TO,73539,SANTA TEREZINHA DO TOCANTINS,1,Biométrico,9,2,...,9,DIVORCIADO,4549,45 a 49 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,3,3,0,0

In [18]:
dados_2020.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,10/09/2020,23:04:11,2020,SP,71072,SÃO PAULO,0,Sem biometria,257,4,...,3,CASADO,9094,90 a 94 anos,6,ENSINO MÉDIO COMPLETO,17,1,1,0
1,10/09/2020,23:04:11,2020,SP,71072,SÃO PAULO,0,Sem biometria,257,4,...,3,CASADO,9094,90 a 94 anos,7,SUPERIOR INCOMPLETO,1,0,0,0
2,10/09/2020,23:04:11,2020,SP,71072,SÃO PAULO,0,Sem biometria,257,4,...,3,CASADO,9094,90 a 94 anos,8,SUPERIOR COMPLETO,8,0,0,0
3,10/09/2020,23:04:11,2020,SP,71072,SÃO PAULO,0,Sem biometria,257,4,...,3,CASADO,9599,95 a 99 anos,1,ANALFABETO,28,0,0,0
4,10/09/2020,23:04:11,2020,SP,71072,SÃO PAULO,0,Sem biometria,257,4,...,3,CASADO,9599,95 a 99 anos,2,LÊ E ESCREVE,149,0,0,0

In [19]:
dados_2012.columns.values

array(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'SG_UF', 'CD_MUNICIPIO',
       'NM_MUNICIPIO', 'CD_MUN_SIT_BIOMETRIA', 'DS_MUN_SIT_BIOMETRIA',
       'NR_ZONA', 'CD_GENERO', 'DS_GENERO', 'CD_ESTADO_CIVIL',
       'DS_ESTADO_CIVIL', 'CD_FAIXA_ETARIA', 'DS_FAIXA_ETARIA',
       'CD_GRAU_ESCOLARIDADE', 'DS_GRAU_ESCOLARIDADE',
       'QT_ELEITORES_PERFIL', 'QT_ELEITORES_BIOMETRIA',
       'QT_ELEITORES_DEFICIENCIA', 'QT_ELEITORES_INC_NM_SOCIAL'],
      dtype=object)

In [8]:
dados_2020.columns.values

array(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'SG_UF', 'CD_MUNICIPIO',
       'NM_MUNICIPIO', 'CD_MUN_SIT_BIOMETRIA', 'DS_MUN_SIT_BIOMETRIA',
       'NR_ZONA', 'CD_GENERO', 'DS_GENERO', 'CD_ESTADO_CIVIL',
       'DS_ESTADO_CIVIL', 'CD_FAIXA_ETARIA', 'DS_FAIXA_ETARIA',
       'CD_GRAU_ESCOLARIDADE', 'DS_GRAU_ESCOLARIDADE',
       'QT_ELEITORES_PERFIL', 'QT_ELEITORES_BIOMETRIA',
       'QT_ELEITORES_DEFICIENCIA', 'QT_ELEITORES_INC_NM_SOCIAL'],
      dtype=object)

In [38]:
colunasSelecionadas = ['HH_GERACAO', 'SG_UF', 'NM_MUNICIPIO', 'CD_MUNICIPIO', 'NR_ZONA',
       'DS_GENERO', 'DS_FAIXA_ETARIA', 'DS_GRAU_ESCOLARIDADE',
       'QT_ELEITORES_PERFIL']

In [39]:
dados_2012_Selecionados = dados_2012.filter(items=colunasSelecionadas)

In [40]:
dados_2014_Selecionados = dados_2014.filter(items=colunasSelecionadas)

In [41]:
dados_2016_Selecionados = dados_2016.filter(items=colunasSelecionadas)

In [42]:
dados_2018_Selecionados = dados_2018.filter(items=colunasSelecionadas)

In [43]:
dados_2020_Selecionados = dados_2020.filter(items=colunasSelecionadas)

In [52]:
dados_2012_Selecionados.columns.values

array(['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'CD_GENERO', 'DS_GENERO',
       'CD_FAIXA_ETARIA', 'DS_FAIXA_ETARIA', 'CD_GRAU_ESCOLARIDADE',
       'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL'], dtype=object)

In [49]:
dados_2018_Selecionados.columns.values

array(['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'CD_GENERO', 'DS_GENERO',
       'CD_FAIXA_ETARIA', 'DS_FAIXA_ETARIA', 'CD_GRAU_ESCOLARIDADE',
       'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL'], dtype=object)

In [53]:
dados_2020_Selecionados.columns.values

array(['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'CD_GENERO', 'DS_GENERO',
       'CD_FAIXA_ETARIA', 'DS_FAIXA_ETARIA', 'CD_GRAU_ESCOLARIDADE',
       'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL'], dtype=object)

In [7]:
dados_2018.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'SG_UF', 'CD_MUNICIPIO',
       'NM_MUNICIPIO', 'CD_MUN_SIT_BIOMETRIA', 'DS_MUN_SIT_BIOMETRIA',
       'NR_ZONA', 'CD_GENERO', 'DS_GENERO', 'CD_ESTADO_CIVIL',
       'DS_ESTADO_CIVIL', 'CD_FAIXA_ETARIA', 'DS_FAIXA_ETARIA',
       'CD_GRAU_ESCOLARIDADE', 'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL',
       'QT_ELEITORES_BIOMETRIA', 'QT_ELEITORES_DEFICIENCIA',
       'QT_ELEITORES_INC_NM_SOCIAL'],
      dtype='object')

In [44]:
dados_2020_Selecionados

,HH_GERACAO,SG_UF,NM_MUNICIPIO,CD_MUNICIPIO,NR_ZONA,DS_GENERO,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL
0,23:04:11,SP,SÃO PAULO,71072,257,FEMININO,90 a 94 anos,ENSINO MÉDIO COMPLETO,17
1,23:04:11,SP,SÃO PAULO,71072,257,FEMININO,90 a 94 anos,SUPERIOR INCOMPLETO,1
2,23:04:11,SP,SÃO PAULO,71072,257,FEMININO,90 a 94 anos,SUPERIOR COMPLETO,8
3,23:04:11,SP,SÃO PAULO,71072,257,FEMININO,95 a 99 anos,ANALFABETO,28
4,23:04:11,SP,SÃO PAULO,71072,257,FEMININO,95 a 99 anos,LÊ E ESCREVE,149
...,...,...,...,...,...,...,...,...,...
4248089,23:04:11,BA,BURITIRAMA,30791,77,FEMININO,45 a 49 anos,ANALFABETO,26
4248090,23:04:11,BA,BURITIRAMA,30791,77,FEMININO,45 a 49 anos,LÊ E ESCREVE,116
4248091,23:04:11,BA,BURITIRAMA,30791,77,FEMININO,45 a 49 anos,ENSINO FUNDAMENTAL INCOMPLETO,95
4248092,23:04:11,BA,BURITIRAMA,30791,77,FEMININO,45 a 49 anos,ENSINO FUNDAMENTAL COMPLETO,8
4248093,23:04:11,BA,BURITIRAMA,30791,77,FEMININO,45 a 49 anos,ENSINO MÉDIO INCOMPLETO,3